{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<section class="outer">
    <header class="author-profile">
        {{#author}}
            {{!-- Everything inside the #author tags pulls data from the author --}}

            <div class="author-profile-content">

                {{#if profile_image}}
                    <img class="author-profile-pic" src="{{profile_image}}" alt="{{name}}" />
                {{else}}
                    <span class="author-profile-pic">{{> "icons/avatar"}}</span>
                {{/if}}

                <div class="author-profile-info">
                    <h1>{{name}}</h1>
                    <p>
                        {{#if bio}}
                            {{bio}}
                        {{else}}
                            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} published
                        {{/if}}
                    </p>
                    <div class="author-profile-meta">
                        {{#if location}}
                            <div class="author-profile-location">
                                {{> "icons/icon-location"}}
                                {{location}}
                            </div>
                        {{/if}}
                        <div class="author-profile-social-icons">
                            {{#if website}}
                                <span><a class="author-profile-social-link" href="{{website}}" target="_blank" rel="noopener">{{> "icons/icon-website"}}</a></span>
                            {{/if}}
                            {{#if twitter}}
                                <span><a class="author-profile-social-link" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/icon-twitter"}}</a></span>
                            {{/if}}
                            {{#if facebook}}
                                <span><a class="author-profile-social-link" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/icon-facebook"}}</a></span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

        {{/author}}
    </header>

    <div class="inner posts">
        <div class="post-container">
            <div class="post-feed-column">
                <div class="post-feed">
                    {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
                {{ pagination }}
            </div>

            {{!-- Sidebar with menu --}}
            <aside class="sidebar">
                <div class="sidebar-content">
                    <div class="sidebar-box subscribe-box">
                        <div class="sidebar-subscription">
                            <h3>Subscribe to our blog</h3>
                            <p>Get the latest posts right to your inbox</p>
                            <button class="btn-primary" type="button">Subscribe</button>
                        </div>
                        <a class="site-nav-search-button" href="/search" title="Search">{{> "icons/search"}} Search</a>
                        <div class="sidebar-banner">
                            <a href="https://tmetric.com">{{> "icons/empower-your-team-banner"}}</a>
                        </div>
                    </div>
                    <div class="sidebar-box social-box">
                        <div class="social">
                            <h4>Social</h4>
                            <div class="social-list">
                                {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/icon-facebook"}}</a>{{/if}}
                                {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/icon-twitter"}}</a>{{/if}}
                                <a href="https://www.linkedin.com/company/tmetric-time-tracking-app" target="_blank" rel="noopener">{{> "icons/icon-linkedin"}}</a>
                                <a href="https://www.youtube.com/channel/UCPmbWbH2xUKdmVwVcQMOxaw" target="_blank" rel="noopener">{{> "icons/icon-youtube"}}</a>
                                <a href="https://discord.gg/x9wKqhcfaG" target="_blank" rel="noopener">{{> "icons/icon-discord"}}</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="mobile-menu-opener">Categories <span class="icon">{{> "icons/arrow-down"}}</span></h3>
                    <div class="sidebar-menu">
                        <div class="sidebar-box">
                            <div class="categories">
                                <h4>Categories:</h4>
                                <ul class="nav tags">
                                    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                                        {{#foreach tags}}
                                            <li>
                                                <a href="{{ url }}">
                                                    <span>{{ name }}</span>
                                                    <span class="counter">{{ count.posts }}</span>
                                                </a>
                                            </li>
                                        {{/foreach}}
                                    {{/get}}
                                </ul>
                                {{navigation}}
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
