{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<article class="article {{post_class}}">

    <header class="article-header article-page-header">
        <div class="header">

            {{#if primary_tag}}
            <section class="article-tag">
                <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            </section>
            {{/if}}

            <h1 class="article-title">{{title}}</h1>

            {{#if custom_excerpt}}
            <p class="article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            <div class="article-byline">
                <section class="article-byline-content">
                    <ul class="author-list">
                        {{#foreach authors}}
                        <li class="author-list-item">
                            {{#if profile_image}}
                            <a href="{{url}}" class="author-avatar">
                                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                            </a>
                            {{else}}
                            <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                            {{/if}}
                        </li>
                        {{/foreach}}
                    </ul>
                    <div class="article-byline-meta">
                        <h4 class="author-name">{{authors}}</h4>
                        <div class="byline-meta-content">
                            <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                            <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {{#if feature_image}}
        <figure class="article-image">
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(min-width: 1400px) 1400px, 92vw"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}
    </header>

    <section class="article-page-container">

        {{!-- article content --}}
        <div class="gh-content article-column">
            {{content}}
        </div>

        {{!-- Sidebar with menu --}}
        {{#has tag="software, templates"}}
            <div class="sidebar scroll-menu-container">
                <h3 class="mobile-menu-opener">Menu <span class="icon">{{> "icons/arrow-down"}}</span></h3>
                <div class="sidebar-menu"></div>
            </div>
            <script>
                window.addEventListener('load', function () {
                    var menuItems = parseMenuItemsFromContent({
                        contentContainer: '.article-column',
                        itemSelectors: ['h2', 'h3'],
                    });
                    initScrollMenu({
                        menuContainer: '.scroll-menu-container .sidebar-menu',
                        menuItems: menuItems,
                        scrollTopOffset: 95,
                        scrollBottomOffset: 70
                    });
                });
            </script>
        {{else}}
            <aside class="sidebar">
                <div class="sidebar-content">
                    <h3 class="mobile-menu-opener">Menu <span class="icon">{{> "icons/arrow-down"}}</span></h3>
                    <div class="sidebar-menu">
                        <div class="sidebar-box subscribe-box">
                            <div class="sidebar-subscription">
                                <h3>Subscribe to our blog</h3>
                                <p>Get the latest posts right to your inbox</p>
                                <button class="btn-primary" type="button">Subscribe</button>
                            </div>
                            <a class="site-nav-search-button" href="/search" title="Search">{{> "icons/search"}} Search</a>
                            <div class="sidebar-banner">
                                <a href="https://tmetric.com">{{> "icons/empower-your-team-banner"}}</a>
                            </div>
                        </div>
                        <div class="sidebar-box social-box">
                            <div class="social">
                                <h4>Social</h4>
                                <div class="social-list">
                                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/icon-facebook"}}</a>{{/if}}
                                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/icon-twitter"}}</a>{{/if}}
                                    <a href="https://www.linkedin.com/company/tmetric-time-tracking-app" target="_blank" rel="noopener">{{> "icons/icon-linkedin"}}</a>
                                    <a href="https://www.youtube.com/channel/UCPmbWbH2xUKdmVwVcQMOxaw" target="_blank" rel="noopener">{{> "icons/icon-youtube"}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-box">
                            <div class="categories">
                                <h4>Categories:</h4>
                                <ul class="nav tags">
                                    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                                        {{#foreach tags}}
                                            <li>
                                                <a href="{{ url }}">
                                                    <span>{{ name }}</span>
                                                    <span class="counter">{{ count.posts }}</span>
                                                </a>
                                            </li>
                                        {{/foreach}}
                                    {{/get}}
                                </ul>
                                {{navigation}}
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        {{/has}}

    </section>

    {{!--
        <section class="article-comments gh-canvas">
            If you want to embed comments, this is a good place to paste your code!
        </section>
    --}}

    <span class="sales-anchor"></span>

</article>

{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{!--
{{#unless @member}}
<section class="footer-cta">
    <div class="inner">
        <h2>Subscribe to our blog updates</h2>
        <a class="footer-cta-button btn-subscribe" href="#/portal">
            <div>Enter your email</div>
            <span>Subscribe</span>
        </a>--}}
        {{!-- ^ This looks like a form element, but it's just a link to Portal,
        making the form validation and submission much simpler. --}}
{{!--</div>
</section>
{{/unless}}
--}}

{{!-- Post banner --}}
{{!--
<div class="post-banner">
    <div class="desktop-image">
        {{> "icons/tmetric-banner-desktop"}}
    </div>
    <div class="mobile-image">
        {{> "icons/tmetric-banner-mobile"}}
    </div>
    <a class="button" href="https://tmetric.com/">Learn more</a>
</div>
--}}

{{!-- Read more links, just above the footer --}}
<aside class="read-more-wrap">
    <h2>Recent Articles</h2>
    <div class="read-more inner">

        {{!-- The {#get} helper below fetches some of the latest posts here
        so that people have something else to read when they finish this one.

        This query gets the latest 3 posts on the site, but adds a filter to
        exclude the post we're currently on from being included. --}}

        {{#get "posts" filter="id:-{{id}}" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
                {{#foreach more_posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/if}}
        {{/get}}

    </div>
</aside>
{{!--
<div id="sales-fader" class="fader"></div>
--}}
{{!-- TMetric Coupon - 10% discount --}}
{{!--
<div class="popup sales-popup">
    <button class="btn-popup-close">{{> "icons/cross"}}</button>
    <div class="row">
        <div class="image">
            {{> "icons/timer"}}
        </div>
        <div class="text">
            <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{/if}}
            </a>
            <h2>TMetric Coupon<br>Time Saving Deal</h2>
            <div class="row code-row">
                <div id="code-field">BLOG10WZKX</div>
                <button class="btn-copy">
                    <span class="tooltip">Copy to clipboard</span>
                    Copy
                </button>
            </div>
            <a class="btn-use" href="https://app.tmetric.com/register" target="_blank">Use Coupon</a>
            <p class="notes">The coupon is valid for New users, Free and Trial. Can be used immediately or after a 30 day Trial period</p>
        </div>
    </div>
</div>
--}}

{{!-- TMetric New Year Coupon - 10% discount --}}
{{!--
<div class="popup sales-popup new-year">
    <button class="btn-popup-close">{{> "icons/red-cross"}}</button>
    <div class="row">
        <div class="image">
            {{> "icons/gift"}}
        </div>
        <div class="text">
            <a class="logo" href="{{@site.url}}">
                {{> "icons/logo-white"}}
            </a>
            <h2>Have a Happy Winter<br>
                WITH 10% OFF<br>
                TMetric subscription!</h2>
            <div class="row code-row">
                <div id="code-field">BLOG10WZKX</div>
                <button class="btn-copy">
                    <span class="tooltip">Copy to clipboard</span>
                    Copy
                </button>
            </div>
            <a class="btn-use" href="https://app.tmetric.com/register" target="_blank">Use Coupon</a>
            <p class="notes">The coupon is valid for New users, Free and Trial.<br>Can be used immediately or after a 30 day Trial period</p>
        </div>
    </div>
</div>
--}}

{{!-- Black Friday - 50% off --}}
{{!--
<div class="popup discount-popup">
    <button class="btn-popup-close">{{> "icons/cross"}}</button>
    <a class="logo" href="{{@site.url}}">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{/if}}
    </a>
    <h2>DON’T SLEEP ON THE HOTTEST DEAL<br><strong>BLACK FRIDAY</strong></h2>
    <div class="row">
        <div class="text">
            <h3>3 DAYS ONLY</h3>
            <p>25-27 November</p>
        </div>
        <div class="image">
            {{> "icons/fifty-percent-discount"}}
        </div>
        <a class="btn" href="https://app.tmetric.com/register" target="_blank">Start Now</a>
    </div>
    <p class="notes">The discount is valid for New Purchases. Any Plan, any Team Size</p>
</div>
--}}

{{/post}}
